<header>
    <div class="container">
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">My Duka- 1604</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Inventories</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-2">
             
                <li class="nav-item">
                  <a class="nav-link" href="/">Home <span class="badge bg-primary rounded-pill"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inventorie">Inventories <span class="badge bg-primary rounded-pill">{{ count_products()[0] }}</span></a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sales">Sales <span class="badge bg-primary rounded-pill">{{ count_sales()[0] }}</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/stock">Stock <span class="badge bg-primary rounded-pill">14</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users">Users <span class="badge bg-primary rounded-pill">14</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
           
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>